# Nuxt dev/build outputs
release
resources
.output
.data
.nuxt
.nitro
.cache
dist
executables
# Node dependencies
node_modules
dist-electron

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
